[server]
debug = False
secret = abcdefghi1234567890

[forecast]
type = uk

[engine]
type = arduino
pins = C,D,E,F,G
ip = 192.168.0.20

[engine2]
type = raspberry
pins = 12,16,18,22 #GPIO 18,23,24,25 http://elinux.org/RPi_Low-level_peripherals
ip = 127.0.0.1

[engine3]
type = dummy
pins = 1,2,3
ip = 127.0.0.1

[engine4]
type = arduinosimple
pins = D,E,F,G,H
ip = 192.168.1.46