[server]
debug = true
secret = abcdefghi1234567890

[engine]
type = arduino
pins = D,E,F,G
bridge = C
ip = 192.168.0.20

[engine2]
type = raspberry
pins = 12,16,18
bridge = 0
ip = 127.0.0.1

[engine3]
type = dummy
pins = 1,2,3
bridge = 0
ip = 127.0.0.1

