{% extends "default.html" %}

{% block body %}

	<div class="row">
		<div class="span5">
			<legend>Live Data Dump</legend>
			<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th class="span3">Label</th>
							<th>Status</th>
						</tr>
					</thead>

					<tbody>
						{% for key, value in params.items() %}
						<tr>
							<td>{{key|capitalize}}</td><td>{{value|bool_filter}}</td>
						</tr>
						{% endfor %}
					</tbody>
			</table>
		</div>
		<div class="span5 offset1">
			<div>
				<legend>Settings Dump</legend>
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th class="span3">Label</th>
							<th>Status</th>
						</tr>
					</thead>

					<tbody>
						{% for key, value in hparams.items() %}
						<tr>
							<td>{{key|capitalize}}</td><td>{{value|bool_filter}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div>
				<legend>Arduino Dump</legend>
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th class="span3">Label</th>
							<th>Status</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>Connection</td><td>{{connected|bool_filter}}</td>
						</tr>
						<tr>
							<td>Ready</td><td>{{ready|bool_filter}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>


{% endblock %}

