<!doctype html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css"></link>
		<script src="/static/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="brand" href="/">Remote v1.0</a>
						<div class="nav-collapse collapse">
						<ul class="nav">
							<li><a href="/status">Status</a></li>
							<li><a href="/activate">Activate Test</a></li>
							<li><a href="/check">System Check</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>


		<div class="container">

			<div class="row">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						<div class="alert alert-{{ category }}"><h3>{{ message }}</h3></div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			</div>

			{% block body %}
			{% endblock %}

		</div>
	</body>
</html>
