{% extends "default.html" %}

{% block body %}

	<div class="row">
		

		<div class="span8">
			<legend>Forecast: <span id="forecast"></span>
			</legend>

			<div class="row-fluid">
				<div id="temp" class="span4"></div>
				<div id="hum" class="span4"></div>
				<div id="wind" class="span4"></div>
			</div>
			<legend>Controls</legend>
			<div class="row-fluid">
				<button onclick="execute('stop')" class="btn btn-danger btn-large btn-circle span4">Stop</button>
				<button id="btn-test" onclick="execute('test')" class="btn btn-large btn-circle span4">Test</button>
				<button id="btn-start" onclick="execute('start')" class="btn btn-large btn-circle span4">Start</button>
			</div>
		</div>

		<div class="span3 offset1">
			<form id="paramsform" method="POST">
				<fieldset>
					<legend>Change values</legend>

					<div class="control-group">
						<label>Min Temperature Celsius</label>
						<div class="control">
							<input type="text" placeholder="Type something…" name="temp" value="{{hparams['temp']}}">
						</div>
					</div>

					<div class="control-group">
						<label>Max Humidity %</label>
						<div class="control">
							<input type="text" placeholder="Type something…" name="humidity" value="{{hparams['humidity']}}">
						</div>
					</div>

					<div class="control-group">
						<label>Max Wind Km/h</label>
						<div class="control">
							<input type="text" placeholder="Type something…" name="wind" value="{{hparams['wind']}}">
						</div>
					</div>

					<div class="control-group">
						<label>Pump Watering Time (seconds)</label>
						<div class="control">
							<input type="text" placeholder="Type something…" name="delay" value="{{hparams['delay']}}">
						</div>
					</div>

					<div class="control-group">
						<label>Postcode</label>
						<div class="control">
							<input type="text" placeholder="Type something…" name="postcode" value="{{hparams['postcode']}}">
						</div>
					</div>
					
					<label>Set new values</label>
					<button type="submit" class="btn btn-block">Submit</button>
					
				</fieldset>
			</form>
		</div>
	</div>



	<script type='text/javascript' src='https://www.google.com/jsapi'></script>
	<script type='text/javascript' src='/static/js/gauges.js'></script>
	<script type='text/javascript'>

		//google chart gauges
		GManager = new GaugesManager();
		google.load('visualization', '1', {packages:['gauge']});
		google.setOnLoadCallback(function(){
				//init gauges
				GManager.add(
								'TEMP',
								'temp',
								{{params['temp']}},
								{{hparams['temp']}},
								{{hparams['temp']}},
								50,
								-20,
								50
							);
				GManager.add(
								'HUM',
								'hum',
								{{params['humidity']}},
								{{hparams['humidity']}},
								0,
								{{hparams['humidity']}},
								0,
								100
							);
				GManager.add(
								'WIND',
								'wind',
								{{params['wind']}},
								{{hparams['wind']}},
								0,
								{{hparams['wind']}},
								0,
								50
							);
				//render all
				GManager.render();

				//init ajax call
				refreshView();
			});

		//refresh view if status changed
		function refreshView(){
			$.getJSON('/refresh', function(data) {
					//check if stored data has changed
					var col = 'text-success';
					if(data.params.rain){
						col = 'text-error';
					}

					//set forecast text
					$('#forecast')
						.text(data.params.current)
						.removeClass()
						.addClass(col);

					//if ready
					if(data.status){
						$('#btn-start')
							.addClass('btn-success')
							.removeClass('disable')
							.removeAttr('disabled');
						$('#btn-test')
							.removeClass('disable')
							.removeAttr('disabled');
					}else{
						$('#btn-start')
							.removeClass('btn-success')
							.addClass('disable')
							.attr('disabled','disabled');
						$('#btn-test')
							.addClass('disable')
							.attr('disabled','disabled');
					}
					//update gauges
					GManager.data('temp', data.params.temp); 
					GManager.data('hum', data.params.humidity); 
					GManager.data('wind', data.params.wind); 
					//render
					GManager.render();
				})
				.done(function(){
					setTimeout(refreshView, 5000);
				});
		}
		//execute commands
		function execute(cmd){
			var dict = {
						'start':'/activate/all',
						'test':'/activate/test',
						'stop':'/stop'
					};
			//
			$.getJSON(dict[cmd], function(data) {
				$('#messages')
					.fadeIn('400')
					.removeClass()
					.addClass('alert')
					.addClass('alert-'+data.message_type)
					.html('<h4>'+data.message+'</h4>')
					.delay(5000)
					.fadeOut(500);
			})
			.done(function(){
				refreshView();
			});
		}

		//form validation
		$(document).ready(function(){
			$('#paramsform').validate({
				rules: {
					"temp": {
						digits: true,
						minlength: 1,
						maxlength: 2,
						required: true
					},
					"humidity": {
						digits: true,
						minlength: 1,
						maxlength: 2,
						required: true
					},
					"wind": {
						digits: true,
						minlength: 1,
						maxlength: 2,
						required: true
					},
					"delay": {
						digits: true,
						minlength: 2,
						maxlength: 5,
						required: true
					},
					"postcode": {
						minlength: 3,
						maxlength: 6,
						required: true
					},
				},
				highlight: function(label) {
					$(label).closest('.control-group').removeClass('success').addClass('error');
				},
				success: function(label) {
					$(label).closest('.control-group').removeClass('error').addClass('success');
				},
				errorPlacement: function(em,el){
					return true;
				}
			});
		});

	</script>
{% endblock %}

