{% extends "default.html" %}

{% block body %}

	<div class="row">
		

		<div class="span8">
			<legend>Forecast: <span class="text-{% if not params['rain']:%}success{% else: %}error{% endif %}">{{params['current']|capitalize}}</span>
				<!--<i class="icon-{% if not params['rain']:%}ok{% else: %}warning-sign{% endif %}"></i>-->
			</legend>

			<div class="row-fluid">
				<div id="temp" class="span4"></div>
				<div id="hum" class="span4"></div>
				<div id="wind" class="span4"></div>
			</div>
			<legend>Controls</legend>
			<button onclick="document.location.href='/remote/stop'" class="btn btn-danger btn-large btn-block">Stop Areas</button>

			{% if not switch or params['rain'] or not ready: %}
				<button onclick="" class="btn btn-large btn-block" disabled>Start All Areas</button>			
			{% else: %}	
				<button onclick="document.location.href='/remote/all'" class="btn btn-info btn-large btn-block">Start All Areas</button>
			{% endif %}
			
			{% if not ready: %}
				<button onclick="" class="btn btn-large btn-block" disabled>Start Single Area</button>
			{% else: %}
				<button onclick="document.location.href='/remote/single'" class="btn btn-info btn-large btn-block">Start Single Area</button>
			{% endif %}
		</div>

		<div class="span3 offset1">
			<form id="paramsform" method="POST">
				<fieldset>
					<legend>Change values</legend>

					<div class="control-group">
						<label>Min Temperature Celsius</label>
						<div class="control">
							<input type="text" placeholder="Type something…" name="temp" value="{{hparams['temp']}}">
						</div>
					</div>

					<div class="control-group">
						<label>Max Humidity %</label>
						<div class="control">
							<input type="text" placeholder="Type something…" name="humidity" value="{{hparams['humidity']}}">
						</div>
					</div>

					<div class="control-group">
						<label>Max Wind Mph</label>
						<div class="control">
							<input type="text" placeholder="Type something…" name="wind" value="{{hparams['wind']}}">
						</div>
					</div>

					<div class="control-group">
						<label>Pump Watering Time (seconds)</label>
						<div class="control">
							<input type="text" placeholder="Type something…" name="delay" value="{{hparams['delay']}}">
						</div>
					</div>

					<div class="control-group">
						<label>Postcode</label>
						<div class="control">
							<input type="text" placeholder="Type something…" name="postcode" value="{{hparams['postcode']}}">
						</div>
					</div>
					
					<label>Set new values</label>
					<button type="submit" class="btn btn-block">Submit</button>
					
				</fieldset>
			</form>
		</div>
	</div>



	<script type='text/javascript' src='https://www.google.com/jsapi'></script>
	<script type='text/javascript'>
		$(document).ready(function(){
			//form validation
			$('#paramsform').validate({
				rules: {
					"temp": {
						digits: true,
						minlength: 1,
						maxlength: 2,
						required: true
					},
					"humidity": {
						digits: true,
						minlength: 1,
						maxlength: 2,
						required: true
					},
					"wind": {
						digits: true,
						minlength: 1,
						maxlength: 2,
						required: true
					},
					"delay": {
						digits: true,
						minlength: 2,
						maxlength: 5,
						required: true
					},
					"postcode": {
						minlength: 3,
						maxlength: 6,
						required: true
					},
				},
				highlight: function(label) {
					$(label).closest('.control-group').removeClass('success').addClass('error');
					console.log('error');
				},
				success: function(label) {
					$(label).closest('.control-group').removeClass('error').addClass('success');
				},
				errorPlacement: function(em,el){
					return true;
				}
			});
		});


		//gauges
		google.load('visualization', '1', {packages:['gauge']});
		google.setOnLoadCallback(drawChart);

		function drawGauge(label,id,value,pvalue,from,to,min,max){
			var data = google.visualization.arrayToDataTable([
				['Label', 'Value'],
				[label, value],
			]);

			//normalize
			if(to>max){
				to=max;
			}
			if(from<min){
				from = min;
			}

			var options = {
				width: 200, height: 300,
				//redFrom: pvalue, redTo: pvalue+1,
				greenFrom:from,greenTo:to,
				minorTicks: 5,
				min:min,
				max:max
			};

			var chart = new google.visualization.Gauge(document.getElementById(id));
			chart.draw(data, options);
		}

		//
		function drawChart() {
			drawGauge('Temp','temp',{{params['temp']}},{{hparams['temp']}},{{hparams['temp']}},50,-20,50);
			drawGauge('Hum','hum',{{params['humidity']}},{{hparams['humidity']}},0,{{hparams['humidity']}},0,100);
			drawGauge('Wind','wind',{{params['wind']}},{{hparams['wind']}},0,{{hparams['wind']}},0,50);
		}
	</script>
{% endblock %}

