{% extends "default.html" %}

{% block body %}

	<div class="row">
		

		<div class="span8">
			<legend>Forecast: <span class="text-{% if not params['rain']:%}success{% else: %}error{% endif %}">{{params['current']|capitalize}}</span> 
				<!--<i class="icon-{% if not params['rain']:%}ok{% else: %}warning-sign{% endif %}"></i></legend>-->
			<div class="row-fluid">
				<div id="temp" class="span4"></div>
				<div id="hum" class="span4"></div>
				<div id="wind" class="span4"></div>
			</div>
			<legend>Controls</legend>
			<button onclick="document.location.href='/remote/all'" class="btn btn-danger btn-large btn-block" {% if not switch or params['rain']: %}disabled{% endif %}>Start All Areas</button>
			<button onclick="document.location.href='/remote/single'" class="btn btn-warning btn-large btn-block" {% if not switch: %}disabled_{% endif %}>Start Single Area</button>
		</div>

		<div class="span3 offset1">
			<form method="POST">
				<fieldset>
					<legend>Change values</legend>

					<label>Min Temperature Celsius</label>
					<input type="text" placeholder="Type something…" name="temp" value="{{hparams['temp']}}">
					</label>

					<label>Max Humidity %</label>
					<input type="text" placeholder="Type something…" name="humidity" value="{{hparams['humidity']}}">
					</label>

					<label>Max Wind Mph</label>
					<input type="text" placeholder="Type something…" name="wind" value="{{hparams['wind']}}">
					</label>

					<label>Pump Watering Time (seconds)</label>
					<input type="text" placeholder="Type something…" name="delay" value="{{hparams['delay']}}">
					</label>

					<label>Postcode</label>
					<input type="text" placeholder="Type something…" name="postcode" value="{{hparams['postcode']}}">
					</label>
					
					<label>Set new values</label>
					<button type="submit" class="btn btn-block">Submit</button>
					</label?
				</fieldset>
			</form>
		</div>
	</div>



	<script type='text/javascript' src='https://www.google.com/jsapi'></script>
	<script type='text/javascript'>
		google.load('visualization', '1', {packages:['gauge']});
		google.setOnLoadCallback(drawChart);

		function drawGauge(label,id,value,pvalue,from,to,min,max){
			var data = google.visualization.arrayToDataTable([
				['Label', 'Value'],
				[label, value],
			]);

			//normalize
			if(to>max){
				to=max;
			}
			if(from<min){
				from = min;
			}

			var options = {
				width: 200, height: 300,
				//redFrom: pvalue, redTo: pvalue+1,
				greenFrom:from,greenTo:to,
				minorTicks: 5,
				min:min,
				max:max
			};

			var chart = new google.visualization.Gauge(document.getElementById(id));
			chart.draw(data, options);
		}

		//
		function drawChart() {
			drawGauge('Temp','temp',{{params['temp']}},{{hparams['temp']}},{{hparams['temp']}},50,-20,50);
			drawGauge('Hum','hum',{{params['humidity']}},{{hparams['humidity']}},0,{{hparams['humidity']}},0,100);
			drawGauge('Wind','wind',{{params['wind']}},{{hparams['wind']}},0,{{hparams['wind']}},0,50);
		}
	</script>
{% endblock %}

